.md-typeset .admonition,
.md-typeset details {
    --md-admonition-title-bg-color: color-mix(in srgb, var(--md-admonition-color), transparent 90%);
    --md-admonition-border-color: var(--md-admonition-color);
    border-width: 1.5px;
}