:root {
    --md-admonition-icon--redirect: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M14.72 2.22a.75.75 0 0 1 1.06 0l6.25 6.25a.75.75 0 0 1 0 1.06l-6.25 6.25a.75.75 0 1 1-1.06-1.06l4.97-4.97H8.25c-.797 0-2.008.245-3 .959-.952.686-1.75 1.835-1.75 3.791s.798 3.105 1.75 3.791c.992.714 2.203.959 3 .959h3a.75.75 0 0 1 0 1.5h-3c-1.037 0-2.575-.305-3.876-1.241C3.035 18.545 2 16.944 2 14.5c0-2.444 1.035-4.045 2.374-5.009C5.675 8.555 7.214 8.25 8.25 8.25h11.44l-4.97-4.97a.75.75 0 0 1 0-1.06Z"></path></svg>');
    --md-admonition-icon--category: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7.75 6.5a1.25 1.25 0 1 0 0 2.5 1.25 1.25 0 0 0 0-2.5Z"></path><path d="M2.5 1h8.44a1.5 1.5 0 0 1 1.06.44l10.25 10.25a1.5 1.5 0 0 1 0 2.12l-8.44 8.44a1.5 1.5 0 0 1-2.12 0L1.44 12A1.497 1.497 0 0 1 1 10.94V2.5A1.5 1.5 0 0 1 2.5 1Zm0 1.5v8.44l10.25 10.25 8.44-8.44L10.94 2.5Z"></path></svg>');
}

.md-typeset .admonition.redirect,
.md-typeset details.redirect {
    border-color: #9e9e9e;
}

.md-typeset .redirect > .admonition-title,
.md-typeset .redirect > summary {
    background-color: #9e9e9e1a;
}

.md-typeset .redirect > .admonition-title::before,
.md-typeset .redirect > summary::before {
    background-color: #9e9e9e;
    -webkit-mask-image: var(--md-admonition-icon--redirect);
            mask-image: var(--md-admonition-icon--redirect);
}

.md-typeset .admonition.category,
.md-typeset details.category {
    border-color: #448aff;
}

.md-typeset .category > .admonition-title,
.md-typeset .category > summary {
    background-color: #448aff1a;
}

.md-typeset .category > .admonition-title::before,
.md-typeset .category > summary::before {
    background-color: #448aff;
    -webkit-mask-image: var(--md-admonition-icon--category);
            mask-image: var(--md-admonition-icon--category);
}