@keyframes warn-glow {
    0% {
        color: var(--md-default-fg-color);
    }

    50% {
        color: orange;
    }

    100% {
        color: var(--md-default-fg-color);
    }
}

.md-nav__item--section > .md-nav > .md-nav__list {
    margin-left: 0.5rem;
}

.md-typeset h1 {
    margin: 0;
}

.md-typeset a {
    transition: color 125ms, text-decoration 125ms;
}

.md-typeset a:hover {
    text-decoration: underline;
}

.md-typeset .md-tag {
    border-radius: .1rem;
}

.color-warn {
    animation: 5s ease-in-out infinite warn-glow;
}

.red-link {
    color: #ff5252;
    transition: text-decoration 125ms;
}

.red-link:hover {
    text-decoration: underline;
}