[data-md-color-primary="indigo"] {
    /* Allows reuse in RGB and RGBA */
    --md-primary-fg-color--value: 64, 81, 181;
    --md-primary-fg-color: rgb(var(--md-primary-fg-color--value));
    --mx-topbar-bg: rgba(var(--md-primary-fg-color--value), 0.54)
}

@keyframes warn-glow {
    0% {
        color: var(--md-default-fg-color);
    }

    50% {
        color: orange;
    }

    100% {
        color: var(--md-default-fg-color);
    }
}

.md-nav__item--section > .md-nav > .md-nav__list > .md-nav__item {
    margin-left: 0.5rem;
}

.md-typeset h1 {
    margin: 0;
}

.md-typeset a {
    transition: color 125ms, text-decoration 125ms;
}

.md-typeset a:hover {
    text-decoration: underline;
}

.md-typeset .md-tag {
    border-radius: .1rem;
}

.md-tabs {
    background-color: unset;
}

/* Colors */

.color-warn {
    animation: 5s ease-in-out infinite warn-glow;
}

.red-link {
    color: #ff5252;
    transition: text-decoration 125ms;
}

.red-link:hover {
    text-decoration: underline;
}

/* DragonLib stuff */

.dl-table--red {
    background: rgba(255, 0, 0, 0.15);
}

.dl-table--green {
    background: rgba(0, 255, 0, 0.15);
}

.dl-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dl-icon img {
    width: 48px;
}


/* home page mod cards */
.mod-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mod-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
}

.mod-card img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}