[data-md-color-primary="indigo"] {
    /* Allows reuse in RGB and RGBA */
    --md-primary-fg-color--value: 64, 81, 181;
    --md-primary-fg-color: rgb(var(--md-primary-fg-color--value));
    --mx-topbar-bg: rgba(var(--md-primary-fg-color--value), 0.54)
}

:root {
    --md-status--unreleased: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M2.75 1h10.5a.75.75 0 0 1 0 1.5h-.75v1.25a4.75 4.75 0 0 1-1.9 3.8l-.333.25a.25.25 0 0 0 0 .4l.333.25a4.75 4.75 0 0 1 1.9 3.8v1.25h.75a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5h.75v-1.25a4.75 4.75 0 0 1 1.9-3.8l.333-.25a.25.25 0 0 0 0-.4L5.4 7.55a4.75 4.75 0 0 1-1.9-3.8V2.5h-.75a.75.75 0 0 1 0-1.5ZM11 2.5H5v1.25c0 1.023.482 1.986 1.3 2.6l.333.25c.934.7.934 2.1 0 2.8l-.333.25a3.251 3.251 0 0 0-1.3 2.6v1.25h6v-1.25a3.251 3.251 0 0 0-1.3-2.6l-.333-.25a1.748 1.748 0 0 1 0-2.8l.333-.25a3.251 3.251 0 0 0 1.3-2.6Z"></path></svg>');
}

@keyframes warn-glow {
    0% {
        color: var(--md-default-fg-color);
    }

    50% {
        color: orange;
    }

    100% {
        color: var(--md-default-fg-color);
    }
}

.md-nav__item--section > .md-nav > .md-nav__list > .md-nav__item {
    margin-left: 0.5rem;
}

.md-typeset h1 {
    margin: 0;
}

.md-typeset a {
    transition: color 125ms, text-decoration 125ms;
}

.md-typeset a:hover {
    text-decoration: underline;
}

.md-typeset .md-tag {
    border-radius: .1rem;
}

.md-tabs {
    background-color: unset;
}

/* Colors */

.color-warn {
    animation: 5s ease-in-out infinite warn-glow;
}

.red-link {
    color: #ff5252;
    transition: text-decoration 125ms;
}

.red-link:hover {
    text-decoration: underline;
}

/* DragonLib stuff */

.dl-table--red {
    background: rgba(255, 0, 0, 0.15);
}

.dl-table--green {
    background: rgba(0, 255, 0, 0.15);
}

.dl-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dl-icon img {
    width: 48px;
}


/* home page mod cards */
.mod-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mod-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
}

.mod-card img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

/* Blog Post images */
img.thumb {
    width: 25%;
    max-width: 25%;
    float: right;
}

/* Page Status Icons */
.md-status--unreleased::after {
    -webkit-mask-image: var(--md-status--unreleased);
            mask-image: var(--md-status--unreleased);
}